# .appveyor.yml for use with EPICS Base ci-scripts
# (see: https://github.com/epics-base/ci-scripts)

# This is YAML - indentation levels are crucial

#---------------------------------#
#       build cache               #
#---------------------------------#
# The AppVeyor cache allowance is way too small (1GB per account across all
# projects, branches and jobs) to be used for the dependency builds.

cache:
  - C:\Users\appveyor\.tools

#---------------------------------#
#       repository cloning        #
#---------------------------------#

init:
  # Set autocrlf to make batch files work
  - git config --global core.autocrlf true

clone_depth: 5

#---------------------------------#
#   build matrix configuration    #
#---------------------------------#

# Build Configurations: dll/static, regular/debug
configuration:
  - dynamic
  - static
  - dynamic-debug
  - static-debug

# Environment variables: compiler toolchain, base version, setup file, ...
environment:
  # common / default variables for all jobs
  SETUP_PATH: .ci-local
  EPICS_TEST_IMPRECISE_TIMING: YES
  BASE: 7.0

  matrix:
  - CMP: vs2019
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  - CMP: vs2019
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    BASE: 3.15
  - CMP: vs2017
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - CMP: vs2015
  - CMP: gcc
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    # TODO: static linking w/ readline isn't working.  Bypass auto-detect
    COMMANDLINE_LIBRARY: EPICS

# Platform: processor architecture
platform: x64

# Matrix configuration: exclude sets of jobs
matrix:
  exclude:
  # MinGW debug builds use the same libraries, unlike VS
  - configuration: dynamic-debug
    CMP: gcc
  - configuration: static-debug
    CMP: gcc

#---------------------------------#
#     building & testing          #
#---------------------------------#

install:
  - cmd: git submodule update --init --recursive
  - cmd: pip install git+https://github.com/mdavidsaver/ci-core-dumper#egg=ci-core-dumper
  - cmd: python .ci/cue.py prepare

build_script:
  - cmd: python .ci/cue.py build

test_script:
  - cmd: python -m ci_core_dumper install
  - cmd: python .ci/cue.py -T 20M test

on_finish:
  - ps: Get-ChildItem *.tap -Recurse -Force | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
  - cmd: python .ci/cue.py -T 5M test-results

on_failure:
  - cmd: python -m ci_core_dumper report

#---------------------------------#
#         debugging               #
#---------------------------------#

## To connect by remote desktop to a failing build, uncomment the lines below.
## You must connect within the usual build timeout limit (60 minutes),
## so adjust the build matrix above to just build the config of interest.

#on_failure:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:
  - provider: Email
    to:
      - core-talk@aps.anl.gov
    on_build_success: false
  - provider: GitHubPullRequest
